@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes border-slide {
  0% { transform: translateX(-100%) translateY(-100%); }
  50% { transform: translateX(100%) translateY(100%); }
  100% { transform: translateX(-100%) translateY(-100%); }
}

@keyframes border-slide-reverse {
  0% { transform: translateX(100%) translateY(100%); }
  50% { transform: translateX(-100%) translateY(-100%); }
  100% { transform: translateX(100%) translateY(100%); }
}

.animate-border-slide {
  animation: border-slide 6s linear infinite;
}

.animate-border-slide-reverse {
  animation: border-slide-reverse 6s linear infinite;
}
